extends layout

block content
  div.container
    div
      h1= title
      p Welcome to #{title}
    div 
      ul
        li 
          a(href="/games") All games 
        li 
          a(href="/games/create") Add game
        li
          a(href="/categories") All categories 
        li 
          a(href="/games/delete") Delete game
        li 
          a(href="/games/edit") Edit game