body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #121212;
  color: white;
}

a {
  color: #00b7ff;
}

.container {
  display: flex;
}

.container > div:first-child {
  order: 2;
}

.container > div:last-child {
  order: 1;
}
